/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* <form className="h-screen flex items-center bg-gradient-to-r from-violet-500 to-fuchsia-500">
  <div className="flex flex-wrap -mx-5 mb-8">
    <div className="flex flex-wrap -mx-1 mb-6">
      <div className=" w-full  items-center mx-60 px-40 py-1 font-bold text-4xl text-yellow-500">
      <h2 >Do It</h2>
      </div>
      
    <div className="w-full  items-center mx-80 px-10 py-10">
      <label className="block  tracking-wide text-green-800 text-s font-bold mb-2" for="grid-fruit">
     Your Favourite Fruit 
      </label>
      <input className="appearance-none block w-full bg-green-200 text-green-800 border border-green-800 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-green-500" id="" type="text" placeholder=""/>
      <p className="text-green-800 text-xs font-semibold italic">Well done! Success message</p>
    </div>
    <div className="w-full  items-center mx-80 px-10 py-1">
      <label className="block  tracking-wide text-red-600 text-s font-bold mb-2" for="grid-fruit">
    Fruit You Dislike the Most
      </label>
      <input className="appearance-none block w-full bg-red-200 text-red-700 border border-red-600 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-red-500" id="" type="text" placeholder=""/>
      <p className="text-red-600 text-xs font-semibold italic">Oh,snapp! Error Message</p>
    </div>
  </div>
  </div>


  
   
 
</form> */
